.container {
  padding-top: 20px;
  width: 700px;
}
.input_task {
  width: 350px;
}
.task_list{
  background-color: white;
}
.btn_group {
  text-align: right;
  padding-bottom: 20px;
}

.logout_btn {
  display: inline-block;
}

/* @media screen and (max-width:380px) {
    .header {
        width: 350px;
    }
} */
