.container {
  padding-top: 20px;
  width: 550px;
}
.input_task {
  width: 350px;
}
.list-group-item p {
  display: inline-block;
}
.btn_group {
  text-align: right;
}

@media screen and (max-width:380px) {
    .header {
        width: 350px;
    }
}
